[submodule "yaxpeax-core"]
	path = yaxpeax-core
	url = git@github.com:iximeow/yaxpeax-core.git
[submodule "yaxpeax-x86"]
	path = yaxpeax-x86
	url = git@github.com:iximeow/yaxpeax-x86.git
[submodule "veriwasm-full"]
	path = veriwasm-full
	url = git@github.com:PLSysSec/veriwasm-full.git
